.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
  width: 100%;
  background-color: $white-color;
  transition: height .5s ease;
  z-index: 100;
  overflow: hidden;

  &.sticky {
    height: 72px;
    background-color: #FEF2E6;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: height .5s ease;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
