.container {
  max-width: 500px;
  width: 100%;
  padding: 1.5rem;
  background-color: $white-color;
  border: 1px solid $grey-color;
  border-radius: $border-radius;
  height: max-content;

  @media screen and (max-width: 425px) {
    padding: 1rem;
  }
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 1rem;

  @media screen and (max-width: 425px) {
    font-size: 1.75rem;
  }
}
